[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
uvicorn = "*"
pydantic = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.12"
